$999 = #999999
$666 = #666666
$333 = #333333
$deepora = #FF8700
$red = #f13c38
$blue = #007AFF
$white = #ffffff

html
  width 100%
body
 height calc(100% - 50px)
 background #F7F7F7

.aurora-box-top
  //margin-top 50px
  //padding-top 50px

.ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.txt-cent
  text-align center
.txt-lf
  text-align left
.txt-rt
  text-align right

.just-end
  justify-content flex-end

.display-line
  display inline-block

.fl
  float left

.fr
  float right

.colorblue
  color $blue

.colorOra
  color $ora

.colorDeepOra
  color $deepora

.color999
  color $999

.colorred
  color $red

.colorblue
  color $blue

.colorwhite
  color $white

.small-font
  font-size 12px
  color #999999

.bg-red
  background $red

.bg-white
  background #fff

.fs14
  font-size 14px

.fs16
  font-size 16px

.line15
  line-height 15px
.line20
  line-height 20px

.pad-left10
  padding-left 10px

.mar-top20
  margin-top 20px

.mar-left15
  margin-left 15px

.mar-bottom15
  margin-bottom 15px

.width50
  width 50%

.over-hidden
  overflow hidden

// 按钮
.aurora-long-btn
  box-shadow none
  padding 10px 18px
  border-radius 4px
  border none

.aurora-btn-box
  width 100%
  height 50px
  font-size 16px
  text-align center
  margin-top 30px
  box-shadow 0px 0px 4px 1px #f4f4f4
  border-radius 4px
  box-sizing border-box
  border none

.aurora-btn-fixed
  width calc(100% - 20px)
  position fixed
  bottom 60px
  left 10px

.aurora-btn-unuse
  color #333
  background #e5e2e2

.aurora-btn-gray
  color #ffffff
  background #c9c9c9

.aurora-btn-active
  color #fff
  background $red

.aurora-area-15
  padding 0 15px 20px

.aurora-content-area
  padding 15px 15px 0

.border-bt-1px
  // transform scaleY(.5)
  border-bottom 1px solid #ebedf0

.aurora-pop
  width 95%
  background #fff
  border-radius 6px
  text-align center
  .aurora-pop-title
    padding 10px 12px
    color #333
    font-size 16px
    span
      vertical-align middle
    .icon-size
      font-size 30px
      vertical-align middle
  .aurora-pop-content
    padding 30px 0
    .errorsize
      line-height 1.5
      font-size 38px
.no-content
  padding 40px 0
  text-align center
  color #afacac
  font-size 14px
// 数据加载中
.load-box
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  padding 10px
  border-radius 3px
  background-color rgba(0, 0, 0, 0.5)
  color #ffffff
  text-align center

// 身份证
.mask
  width 100%
  height 100%
  background rgba(0,0,0,.6)
.icon-box
  position: absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
