// /views/Login/index.vue
.auro-input-box
  display flex
  // height 44px
  // padding 12px 0

  .van-cell__title
    width 14px
    margin-right 11px
    flex none

    .iconfont
      font-size 14px

  .van-cell__value
    font-size 16px
    padding 5px 0
    color #222

// views/PersonalInfo/index.vue
.aurora-input
  .van-field__control
    text-align right

.aurora-btn.van-button--primary
  background-color #f13c38
  border 0.027rem solid #f13c38

.aurora-cell
  .van-cell__value
    color #323233


.dialog-password
  .van-dialog__header
    padding-top 10px

// loading 显示文字

.load-box
  .van-loading
    display inline-block
    margin-bottom 12px

// ocr弹窗
.notice-container
  text-align left
  white-space normal
  .notice-box
    margin-bottom 10px
    .title
      color #333
      line-height 2
